{#
/**
 * @file
 * Template for Radix Brenham.
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}

<div class="contaner-layout{% if classes %}{{ classes }}{% endif %}{% if class %}{{ class }}{% endif %}" {% if css_id %}{{ css_id }}{% endif %}>

    <div class="header">
        <div class="header-inner">
            <div class="menu-button"><div class="fa fa-bars">&nbsp</div></div>
            <div class="header-main">{{ content.header }}</div>
            <div class="login-categories">{{ content.login_categories }}</div>
        </div>
    </div>

    {#<div class="sidebar">#}
        {#<div class="sidebar-inner">#}
            {#{{ content.sidebar }}#}
        {#</div>#}
    {#</div>#}
    <div class="content clearfix">
        <div class="content-inner">
            {{ content.contentmain }}
        </div>
    </div>
</div>